html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/custome.css")
		block title
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			.container
				.row
					a.navbar-brand(href='/') CodersTokyo
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarSupportedContent.collapse.navbar-collapse
						ul.navbar-nav.mr-auto
							li.nav-item.active
								a.nav-link(href='/user')
									| Home 
									span.sr-only (current)
							li.nav-item
								a.nav-link(href='/user/create') Create User

		block content